extends layout

block content
  form
    .form-group
      label(for='names') Names
      input#names.form-control(aria-describedby='emailHelp', placeholder='Enter names', type='text')
                