<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h2 forms
        form(action="" method="POST")
         input(type='text' name="firstname" placeholder='enter first name...')
         input(type='text' name="lastname" placeholder='enter last name...')
         input(type="text" name="nickname" placeholder='enter nick name...')
         input(type="submit" value='submit')